.row
  .col-md-6.col-md-offset-3.scanme
    %h1 How long will you ride for?
.row
  .col-md-4.scanme
    %a.btn.btn-primary{:href => "/scanned"} 
      30 min
  .col-md-4.scanme
    %a.btn.btn-primary{:href => "/scanned"} 
      60 min
  .col-md-4.scanme
    %a.btn.btn-primary{:href => "/scanned"} 
      90 min


